@media (max-width: 1299px)
{
	.header__list {
		margin-left: 20px;
	}
		.header__list-item + .header__list-item {
		margin-left: 20px;
	}
	.header__logo {
		transform: translate(-25%, -50%);
	}


	.main-banner__title{
		font-size: 50px;
	}

	.gift-card__box {
		width: 33%;
	}


	.magazine__grid{
		margin: 10px 0 0 -20px;
	}

	.magazine__item {
		margin: 20px 0 0 20px;
		width: calc(100% / 3 - 20px);
	}

	.main-title{
		font-size: 32px;
	}


	.back-page{
		top: 9px;
	}

	.cart-table__thumb {
		width: 185px;
		table-layout: fixed;
		padding-right: 29px;
	}

	.products__grid_small{
		--product-count: 4;
	}
	/*------------
		commit
	------------*/

	.breadcrumbs
	{
		margin-top: 35px;
		margin-bottom: 30px;
	}
	
	.product-info__coll 
	{
		width: calc(60% - 30px);
	}

	.product-info__top
	{
		padding-top: 25px;
	}
}