@media (max-width: 1400px)
{
	.magazine__info{
		padding: 0 30px 30px;
	}

	.magazine__name{
		font-size: 30px;
	}

	.shop__info{
		padding: 0 30px 30px;
	}

	.shop__name{
		font-size: 30px;
	}

	.product__colors{
		margin: -6px 0 0 6px;
    	width: 63px;
	}
	
	.product__color{
		margin: 6px 0 0 6px;
	}


	.gift-card__box{
		width: 32%;
	}

	.gift-card__title{
		font-size: 50px;
	}

	.gift-card__subtitle{
		font-size: 32px;
	}

	.footer__items
	{
		margin-left: -30px;
	}

	.footer__item
	{
		margin-left: 30px;
	}

	.footer__item{
		width: calc(100%/3 - 30px);
	}

	.form-subscribe{
		width: 100%;
	}
	/*------------
		commit
	------------*/
	
}