@media (max-width: 1400px)
{
	.magazine__info{
		padding: 0 30px 30px;
	}

	.magazine__name{
		font-size: 30px;
	}

	.shop__info{
		padding: 0 30px 30px;
	}

	.shop__name{
		font-size: 30px;
	}

	.product__colors{
		margin: -6px 0 0 6px;
    	width: 63px;
	}
	
	.product__color{
		margin: 6px 0 0 6px;
	}


	.gift-card__box{
		width: 32%;
	}

	.gift-card__title{
		font-size: 50px;
	}

	.gift-card__subtitle{
		font-size: 32px;
	}

	.section-cart__flex{
		position: relative;
	}

	.back-page{
		position: absolute;
		left: 0;
		top: 14px;
		font-size: 0;
		width: 10px;
		height: 20px;
		padding: 0;
		margin: 0;
	}

	.section-cart__coll .main-title{
		padding-left: 22px;
	}

	.section-cart__colr_chekout{
		padding-top: 0;
	}

	.section-cart__imp{
		padding: 15px;
	}

	.section-cart__coll_cart{
		padding-top: 0;
	}

	.point__wrap{
		padding: 14px;
	}

	.loyalty-program{
		padding: 19px 15px;
	}

	.cart-total{
		padding: 19px 15px;
	}

	.loyalty-program__title{
		font-size: 24px;
	}

	.cart-total__title{
		font-size: 32px;
	}


	.section-cart .form__flex_marg{
		margin-left: -10px;
	}

	.section-cart .form__flex_marg .form__line {
		width: calc(100% / 2 - 10px);
		margin-left: 10px;
	}


	.catalog__top-flex{
		margin-left: 40px;
	}

	.views_marg{
		margin-left: 38px;
	}


	.catalog__top .main-title {
   		width: calc(100% - 520px);
	}

	.products__grid_small {
		--product-count: 5;
	}


	.footer__items
	{
		margin-left: -30px;
	}

	.footer__item
	{
		margin-left: 30px;
	}

	.footer__item{
		width: calc(100%/3 - 30px);
	}

	.form-subscribe{
		width: 100%;
	}
	/*------------
		commit
	------------*/
	
	.product-info__coll 
	{
		width: calc(60% - 40px);
	}

	.product-info__colr 
	{
		width: 40%;
	}

	.tooltip .tooltip__text
	{
		left: auto;
		right: -14px;
	}

	.tooltip:after 
	{
		left: auto;
		right: 0;
	}

	.tooltip .tooltip__text:before 
	{
		left: auto;
		right: 13px;
	}

	
	.content__flex 
	{
		margin-left: -20px;
	}
	.aside-lk
	{
		width: calc(100% / 4 - 20px);
		margin-left: 20px;
	}

	.content-lk 
	{
		width: calc((100% / 4) * 3 - 20px);
		margin-left: 20px;
	}

	.content-lk__cols
	{
		margin-left: -20px;
	}

	.content-lk__col 
	{
		width: calc(100% / 3 - 20px);
		margin-left: 20px;
		margin-top: 20px;
	}

	.aside-lk__name
	{
		font-size: 32px;
	}

	.content-lk__name
	{
		font-size: 24px;
	}

	.content-lk__back .back-page
	{
		position: relative;
		left: 0;
		top: 0;
		font-size: 12px;
		width: auto;
		height: auto;
		padding-left: 20px;
	}
	

	.history-table tr td
	{
		padding-left: 20px;
	}

	.history-table__products-val
	{
		margin-right: 0;
	}

	.history-table__price
	{
		font-size: 24px;
	}

	.history-order__link
	{
		font-size: 26px;
		line-height: 48px;
		height: 50px;
	}
}