@media (max-width: 767px)
{
	.header__top-info {
		font-size: 10px;
		padding: 9px 0;
	}


	._marg {
		margin-top: 40px;
	}

	._bord{
		padding-top: 39px;
	}


	.main-banner__box {
		width: 60%;
	}

	.magazine__item {
		width: calc(100% / 2 - 20px);
	}


	.magazine__name {
		font-size: 22px;
	}
	

	.shop__name {
		font-size: 22px;
	}


	.gift-card__img{
		min-height: 580px;
	}

	.gift-card__info{
		align-items: flex-end;
		align-content: flex-end;
	}

	.gift-card__box{
		width: 100%;
		max-width: none;
	}

	.gift-card__img{
		display: none;
	}

	.gift-card__img._mob{
		display: block;
		object-position: 0 50%;
	}


	.cart-table{
		padding-top: 19px;
		border-top: 1px solid #EAEAEA;
		display: block;
	}

	.cart-table tr{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		min-height: 242px;
		padding-left: 175px;
	}

	.cart-table tr + tr{
		margin-top: 30px;
	}

	.cart-table td{
		padding: 0;
		border: none;
	}
	
	.cart-table__thumb{
		position: absolute;
		left: 0;
		top: 0;
		width: 161px;
		padding: 0;
	}

	.cart-table__info{
		width: 100%;
	}

	.cart-table__code span{
		font-size: 12px;
	}

	.cart-table__name{
		margin-top: 10px;
		font-weight: 400;
	}

	.cart-table__name br{
		display: none;
	}

	.cart-table__info-bot{
		margin-top: -6px;
	}

	.cart-table td.cart-table__prices{
		padding: 0;
	}

	.cart-table__prices{
		width: 100%;
		margin-top: 41px;
	}

	.cart-table__prices-box{
		justify-content: flex-start;
	}

	.cart-table__amount{
		margin-top: 41px;
	}

	.cart-table__price{
		font-size: 18px;
	}

	.amount__val {
		width: 130px;
	}

	.cart-table__favorite{
		display: none;
	}

	.cart-table__delete{
		margin-left: 0;
	}

	.cart-table__btns{
		top: 0;
	}


	.radio-btns .radio {
		width: calc(100% / 2 - 10px);
	}

	.radio-btns .radio._auto {
		width: calc(100% / 2 - 10px);
	}

	.radio-btns .radio._big {
		width: calc(100% / 2 - 10px);
		max-width: none;
	}

	.form__label{
		font-size: 14px;
	}

	.radio__text br{
		display: none;
	}


	.points{
		padding-top: 64px;
		position: relative;
	}

	.points__search{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.points__coll{
		width: 100%;
		order: 2;
	}

	.points__items{
		height: auto;
		padding-right: 0;
		overflow: visible;
		margin-top: 0;
	}

	.points__colr{
		width: 100%;
		margin-bottom: 20px;
	}

	.point__wrap {
		padding: 10px 19px 19px;
	}

	.points__map{
		height: 248px;
	}


	.catalog__top .main-title{
		width: 100%;
	}

	.catalog__top-flex{
		width: 100%;
		order: -2;
		margin: 0 0 20px;
		border-bottom: 1px solid #EAEAEA;
		position: relative;
		padding: 10px 0;
		justify-content: center;
	}

	.open-filter{
		min-width: 140px;
		font-size: 14px;
	}

	.views_marg{
		margin: 0;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -16px;
	}

	.catalog__top .main-title{
		order: -1;
	}

	.catalog__top .breadcrumbs{
		margin: 10px 0 20px;
	}

	.cats{
		margin-top: 0;
	}

	.sorting{
		margin: 20px 0 0;
		width: 100%;
		border-top: 1px solid #eaeaea;
		padding-top: 20px;
		order: 2;
	}

	.sorting_sort{
		padding-top: 0;
		font-size: 14px;
	}

	.sorting_sort + .sorting_sort{
		margin-left: 40px;
	}

	.products__grid {
		--product-count: 3;
		--product-marg: 14px;
		margin-top: 22px;
	}

	.wrap-btn_marg{
		margin-top: 20px;
	}

	.pagination{
		margin-top: 20px;
	}


	.footer__bot{
		padding-top: 42px;
		padding-bottom: 42px;
	}

	.footer__bot-link{
		width: 100%;
	}

	.footer__bot-link + .footer__bot-link{
		margin: 20px 0 0;
	}

	.footer__bot-link a{
		border-bottom-color: currentColor;
	}

	.footer__copy{
		width: 100%;
		order: 2;
		margin-top: 35px;
	}

	.footer__logo{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		padding: 23px 20px 20px;
		border-top: 1px solid #EAEAEA;
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
	}

	.footer__logo img{
		width: 280px;
		display: block;
	}

	.footer__wrap{
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		padding: 0 20px 47px;
	}

	.footer__items{
		margin: 0 0 0 -20px;
	}

	.footer__item{
		width: calc(100%/3 - 20px);
		margin: 40px 0 0 20px;
	}

	.footer__item_big{
		order: -1;
		width: calc(100% - 20px);
	}

	.footer__item_middle{
		width: calc(100%/2 - 20px);
	}

	.footer .checkbox__text br{
		display: inline;
	}
	/*------------
		commit
	------------*/
	
	.tooltip .tooltip__text
	{
		width: 280px;
		padding: 15px;
	}

	.modal-size 
	{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 30px;
	}

	.modal-size__table tr th
	{
		padding-left: 10px;
		font-size: 12px;
	}

	.modal-size__table tr td
	{
		font-size: 12px;
		padding-left: 10px;
	}

	.modal-size__table tr td span
	{
		min-width: 10px;
	}
}