@media (max-width: 767px)
{
	.header__top-info {
		font-size: 10px;
		padding: 9px 0;
	}


	._marg {
		margin-top: 40px;
	}

	._bord{
		padding-top: 39px;
	}


	.main-banner__box {
		width: 60%;
	}

	.magazine__item {
		width: calc(100% / 2 - 20px);
	}


	.magazine__name {
		font-size: 22px;
	}
	

	.shop__name {
		font-size: 22px;
	}


	.gift-card__img{
		min-height: 580px;
	}

	.gift-card__info{
		align-items: flex-end;
		align-content: flex-end;
	}

	.gift-card__box{
		width: 100%;
		max-width: none;
	}

	.gift-card__img{
		display: none;
	}

	.gift-card__img._mob{
		display: block;
		object-position: 0 50%;
	}


	.cart-table{
		padding-top: 19px;
		border-top: 1px solid #EAEAEA;
		display: block;
	}

	.cart-table tr{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		min-height: 242px;
		padding-left: 175px;
	}

	.cart-table tr + tr{
		margin-top: 30px;
	}

	.cart-table td{
		padding: 0;
		border: none;
	}
	
	.cart-table__thumb{
		position: absolute;
		left: 0;
		top: 0;
		width: 161px;
		padding: 0;
	}

	.cart-table__info{
		width: 100%;
	}

	.cart-table__code span{
		font-size: 12px;
	}

	.cart-table__name{
		margin-top: 10px;
		font-weight: 400;
	}

	.cart-table__name br{
		display: none;
	}

	.cart-table__info-bot{
		margin-top: -6px;
	}

	.cart-table td.cart-table__prices{
		padding: 0;
	}

	.cart-table__prices{
		width: 100%;
		margin-top: 41px;
	}

	.cart-table__prices-box{
		justify-content: flex-start;
	}

	.cart-table__amount{
		margin-top: 41px;
	}

	.cart-table__price{
		font-size: 18px;
	}

	.amount__val {
		width: 130px;
	}

	.cart-table__favorite{
		display: none;
	}

	.cart-table__delete{
		margin-left: 0;
	}

	.cart-table__btns{
		top: 0;
	}


	.radio-btns .radio {
		width: calc(100% / 2 - 10px);
	}

	.radio-btns .radio._auto {
		width: calc(100% / 2 - 10px);
	}

	.radio-btns .radio._big {
		width: calc(100% / 2 - 10px);
		max-width: none;
	}

	.form__label{
		font-size: 14px;
	}

	.radio__text br{
		display: none;
	}


	.points{
		padding-top: 64px;
		position: relative;
	}

	.points__search{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.points__coll{
		width: 100%;
		order: 2;
	}

	.points__items{
		height: auto;
		padding-right: 0;
		overflow: visible;
		margin-top: 0;
	}

	.points__colr{
		width: 100%;
		margin-bottom: 20px;
	}

	.point__wrap {
		padding: 10px 19px 19px;
	}

	.points__map{
		height: 248px;
	}


	.catalog__top .main-title{
		width: 100%;
	}

	.catalog__top-flex{
		width: 100%;
		order: -2;
		margin: 0 0 20px;
		border-bottom: 1px solid #EAEAEA;
		position: relative;
		padding: 10px 0;
		justify-content: center;
	}

	.open-filter{
		min-width: 140px;
		font-size: 14px;
	}

	.views_marg{
		margin: 0;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -16px;
	}

	.catalog__top .main-title{
		order: -1;
	}

	.catalog__top .breadcrumbs{
		margin: 10px 0 20px;
	}

	.cats{
		margin-top: 0;
	}

	.sorting{
		margin: 20px 0 0;
		width: 100%;
		border-top: 1px solid #eaeaea;
		padding-top: 20px;
		order: 2;
	}

	.sorting_sort{
		padding-top: 0;
		font-size: 14px;
	}

	.sorting_sort + .sorting_sort{
		margin-left: 40px;
	}

	.products__grid {
		--product-count: 3;
		--product-marg: 14px;
		margin-top: 22px;
	}

	.wrap-btn_marg{
		margin-top: 20px;
	}

	.pagination{
		margin-top: 20px;
	}


	.footer__bot{
		padding-top: 42px;
		padding-bottom: 42px;
	}

	.footer__bot-link{
		width: 100%;
	}

	.footer__bot-link + .footer__bot-link{
		margin: 20px 0 0;
	}

	.footer__bot-link a{
		border-bottom-color: currentColor;
	}

	.footer__copy{
		width: 100%;
		order: 2;
		margin-top: 35px;
	}

	.footer__logo{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		padding: 23px 20px 20px;
		border-top: 1px solid #EAEAEA;
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
	}

	.footer__logo img{
		width: 280px;
		display: block;
	}

	.footer__wrap{
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		padding: 0 20px 47px;
	}

	.footer__items{
		margin: 0 0 0 -20px;
	}

	.footer__item{
		width: calc(100%/3 - 20px);
		margin: 40px 0 0 20px;
	}

	.footer__item_big{
		order: -1;
		width: calc(100% - 20px);
	}

	.footer__item_middle{
		width: calc(100%/2 - 20px);
	}

	.footer .checkbox__text br{
		display: inline;
	}
	/*------------
		commit
	------------*/
	
	.tooltip .tooltip__text
	{
		width: 280px;
		padding: 15px;
	}

	.modal-size 
	{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 30px;
	}

	.modal-size__table tr th
	{
		padding-left: 10px;
		font-size: 12px;
	}

	.modal-size__table tr td
	{
		font-size: 12px;
		padding-left: 10px;
	}

	.modal-size__table tr td span
	{
		min-width: 10px;
	}

	.aside-lk
	{
		display: none;
	}

	.content-lk
	{
		margin-top: 0;
	}

	.content-lk__name-mob
	{
		display: block;
	}

	.content-lk__cols
	{
		margin-top: 0;
	}

	.content-lk__col
	{
		width: calc(100% / 2 - 15px);
	}


	.form__flex-three 
	{
		margin-left: -15px;
	}

	.form__flex-three .form__line 
	{
		width: calc(100% / 2 - 15px);
		margin-left: 15px;
	}


	.lk-bonus__items
	{
		
	}

	.lk-bonus__available
	{
		width: 100%;
		order: 2;
		height: 120px;
		align-items: flex-end;
		align-content: flex-end;
		padding-bottom: 14px;
	}

	.lk-bonus__available .lk-bonus__name
	{
		margin-bottom: 5px;
	}

	.lk-bonus__spent
	{
		width: 100%;
	}

	.lk-history__table
	{
		margin-top: 0;
	}

	.lk-history__table thead
	{
		display: none;
	}

	.lk-history__table tr td
	{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: nowrap;
		text-align: right;
		padding-left: 0;
		padding-top: 20px;
	}

	.lk-history__table tr td:before 
	{
		line-height: normal;
		display: inline-block;
		content: attr(data-label);
		margin-right: auto;
	}

	.lk-history__table tr td:last-child
	{
		border-color: #2A2A2A;
	}

	.lk-history__table tr:last-child td
	{
		border-bottom: 1px solid #EAEAEA;
	}

	.lk-history__table tr:last-child td:last-child
	{
		border-bottom: none;
	}

	.content-lk__back
	{
		width: 10px;
		height: 20px;
	}

	.content-lk__back .back-page
	{
		position: absolute;
		left: 0;
		font-size: 0;
		width: 10px;
		height: 20px;
		padding: 0;
	}

	.content-lk__top._flex
	{
		padding-bottom: 20px;
	}

	.content-lk__date
	{
		width: 100%;
		margin-left: 35px;
		margin-bottom: 0;
		margin-top: 10px;
	}

	.content-lk .cart-table
	{
		border-top: none;
		padding-top: 0;
		margin-bottom: 0;
	}

	.content-lk .cart-table tr
	{
		min-height: 150px;
		padding-left: 126px;
		border-bottom: 1px solid #EAEAEA;
		padding-bottom: 20px;
	}

	.content-lk .cart-table tr:last-child
	{
		border-bottom: none;
		padding-bottom: 0;
	}

	.content-lk .cart-table__thumb 
	{
		width: 100px;
	}

	.content-lk .cart-table td.cart-table__prices
	{
		text-align: left;
		margin-top: 0;
	}

	.content-lk .cart-table__price
	{
		font-size: 28px;
	}


	.order-contents
	{
		margin-top: 30px;
		padding-top: 0;
		border-top: none;
	}

	.order-contents__btn
	{
		max-width: 100%;
	}


	.history-order__link + .history-order__link 
	{
		margin-left: 8px;
	}

	.history-order__link 
	{
		font-size: 24px;
		line-height: 40px;
		height: 42px;
		min-width: 1px;
		width: calc(50% - 4px);
	}


	.history-table
	{
		margin-top: 15px;
	}

	.history-table thead
	{
		display: none;
	}

	.history-table tr
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.history-table tr + tr
	{
		border-top: 1px solid #EAEAEA;
		margin-top: 15px;
	}

	.history-table tr td
	{
		width: 100%;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0;
		border-bottom: none;
	}

	.history-table tr td:nth-child(1):before,
	.history-table tr td:nth-child(2):before
	{
		line-height: normal;
		display: block;
		content: attr(data-label);
		margin-bottom: 15px;
	}

	.history-table tr td.history-table__td
	{
		width: calc(50% - 7px);
		align-self: center;
	}

	.history-table__status
	{
		margin-bottom: 0;
	}

	.history-table__price
	{
		text-align: right;
		font-size: 28px;
	}

	.history-table__buy .btn-dark
	{
		width: 100%;
	}


	.modal .form__flex .form__line 
	{
		width: calc(100% / 1 - 10px);
	}

	.modal__bot-w
	{
		max-width: 100%;
	}
}