@media (max-width: 479px)
{
	.main-banner__img {
		object-position: 27% 0%;
	}

	.main-banner__info{
		padding: 0 20px 40px;
		align-items: flex-end;
   		align-content: flex-end;
	}

	.main-banner__box{
		width: 100%;
		max-width: none;
	}

	.main-banner__title{
		text-align: center;
	}

	.main-banner__bot{
		text-align: center;
	}


	.products__slider,
	.products__slider2,
	.products__slider3{
		overflow: visible;
	}

	.magazine__item {
		width: calc(100% - 20px);
	}

	.magazine__name {
		font-size: 30px;
	}

	.shops__slider{
		overflow: visible;
	}

	.shops__slider .slider-button-prev,
	.shops__slider .slider-button-next{
		display: none;
	}

	.shop__name {
		font-size: 30px;
	}


	.amount__val{
		width: 100%;
	}

	.cart-table__prices-box{
		justify-content: space-between;
	}

	.cart-table__oldprice{
		margin-left: 16px;
	}

	.section-cart__bot .section-cart__checkbox{
		max-width: 306px;
	}


	.form__flex{
		margin-left: 0;
	}

	.form__flex .form__line {
		width: 100%;
		margin-left: 0;
	}

	.section-cart .form__flex_marg{
		margin-left: 0;
	}

	.section-cart .form__flex_marg .form__line{
		width: 100%;
		margin-left: 0;
	}

	.radio-btns .radio {
		width: 100%;
	}

	.radio-btns .radio._auto {
		width: 100%;
	}

	.radio-btns .radio._big {
		width: 100%;
	}

	.form__adres{
		flex-wrap: wrap;
		margin-left: 0;
	}

	.form__adres .form__line{
		width: 100%;
		margin-left: 0;
	}


	.form .form__input{
		padding: 0 15px;
	}

	.form .form__textarea{
		padding: 14px 15px;
		height: 115px;
	}


	.footer__items{
		margin-left: 0;
	}

	.footer__item{
		margin-left: 0;
		width: 100%;
	}

	.footer__item_last{
		order: 2;
	}

	.footer__item_middle{
		border-top: 1px solid #eaeaea;
		padding-top: 39px;
	}

	.footer__item_big{
		padding-bottom: 39px;
		border-bottom: 1px solid #eaeaea;
	}

	.footer__qr-cod{
		display: none;
	}

	.footer__download{
		margin: -10px 0 0 -10px;
	}

	.footer__download-link{
		margin: 10px 0 0 10px;
	}

	.footer__email{
		font-size: 14px;
	}

	.footer_socials{
		margin: 2px 0 0 -14px;
	}

	.socials-link{
		width: 31px;
		height: 31px;
		margin: 14px 0 0 14px;
	}

	.socials-link img{
		transform: scale(1.45);
	}

	.footer__details{
		margin-top: 28px;
	}

	.footer__details-desc{
		font-size: 16px;
		margin-top: 10px;
	}
	/*------------
		commit
	------------*/
	
	.product-info__prices
	{
		margin-top: 20px;
	}

	.product-info__colors
	{
		margin-top: 20px;
	}

	.product-info__buy-btns
	{
		margin-top: 10px;
	}

	.product-info__buy
	{
		width: 100%;
	}

	.product-info__info
	{
		margin-top: 20px;
	}


	.modal-size__table tr th
	{
		font-size: 10px;
	}
}