@media (max-width: 479px)
{
	.main-banner__img {
		object-position: 27% 0%;
	}

	.main-banner__info{
		padding: 0 20px 40px;
		align-items: flex-end;
   		align-content: flex-end;
	}

	.main-banner__box{
		width: 100%;
		max-width: none;
	}

	.main-banner__title{
		text-align: center;
	}

	.main-banner__bot{
		text-align: center;
	}


	.products__slider,
	.products__slider2,
	.products__slider3{
		overflow: visible;
	}

	.product__name{
		font-size: 18px;
	}

	.products__slider3 .product__name{
		font-size: 18px;
	}

	.products__slider3 .product__price{
		font-size: 18px;
	}

	.magazine__item {
		width: calc(100% - 20px);
	}

	.magazine__name {
		font-size: 30px;
	}

	.shops__slider{
		overflow: visible;
	}

	.shops__slider .slider-button-prev,
	.shops__slider .slider-button-next{
		display: none;
	}

	.shop__name {
		font-size: 30px;
	}


	.amount__val{
		width: 100%;
	}

	.cart-table__prices-box{
		justify-content: space-between;
	}

	.cart-table__oldprice{
		margin-left: 16px;
	}

	.section-cart__bot .section-cart__checkbox{
		max-width: 306px;
	}


	.form__flex{
		margin-left: 0;
	}

	.form__flex .form__line {
		width: 100%;
		margin-left: 0;
	}

	.section-cart .form__flex_marg{
		margin-left: 0;
	}

	.section-cart .form__flex_marg .form__line{
		width: 100%;
		margin-left: 0;
	}

	.radio-btns .radio {
		width: 100%;
	}

	.radio-btns .radio._auto {
		width: 100%;
	}

	.radio-btns .radio._big {
		width: 100%;
	}

	.form__adres{
		flex-wrap: wrap;
		margin-left: 0;
	}

	.form__adres .form__line{
		width: 100%;
		margin-left: 0;
	}


	.form .form__input{
		padding: 0 15px;
	}

	.form .form__textarea{
		padding: 14px 15px;
		height: 115px;
	}

	.sorting{
		justify-content: space-between;
	}

	.sorting_sort + .sorting_sort{
		margin-left: 0;
	}

	.products__grid {
		--product-count: 2;
	}

	.btn-dark_more{
		min-width: 1px;
		width: 100%;
		padding: 0;
	}


	.pagination__flex{
		margin-left: -16px;
	}

	.pagination__prev,
	.pagination__next {
		min-height: 40px;
		width: 50px;
	}

	.pagination__prev{
		margin-left: 16px;
		margin-right: 4px;
	}

	.pagination__next{
		margin-left: 20px;
	}

	.pagination__prev svg,
	.pagination__next svg {
		width: 50px;
		height: 6px;
	}

	.pagination__number,
	.pagination__dots {
		font-size: 18px;
		line-height: 40px;
		min-width: 30px;
		margin-left: 16px;
	}


	.footer__items{
		margin-left: 0;
	}

	.footer__item{
		margin-left: 0;
		width: 100%;
	}

	.footer__item_last{
		order: 2;
	}

	.footer__item_middle{
		border-top: 1px solid #eaeaea;
		padding-top: 39px;
	}

	.footer__item_big{
		padding-bottom: 39px;
		border-bottom: 1px solid #eaeaea;
	}

	.footer__qr-cod{
		display: none;
	}

	.footer__download{
		margin: -10px 0 0 -10px;
	}

	.footer__download-link{
		margin: 10px 0 0 10px;
	}

	.footer__email{
		font-size: 14px;
	}

	.footer_socials{
		margin: 2px 0 0 -14px;
	}

	.socials-link{
		width: 31px;
		height: 31px;
		margin: 14px 0 0 14px;
	}

	.socials-link img{
		transform: scale(1.45);
	}

	.footer__details{
		margin-top: 28px;
	}

	.footer__details-desc{
		font-size: 16px;
		margin-top: 10px;
	}
	/*------------
		commit
	------------*/
	
	.product-info__prices
	{
		margin-top: 20px;
	}

	.product-info__colors
	{
		margin-top: 20px;
	}

	.product-info__buy-btns
	{
		margin-top: 10px;
	}

	.product-info__buy
	{
		width: 100%;
	}

	.product-info__info
	{
		margin-top: 20px;
	}

	.content-lk__col
	{
		width: calc(100% / 1 - 15px);
		margin-top: 17px;
	}

	.content-lk__link + .content-lk__link
	{
		margin-top: 17px;
	}

	.content-lk__link
	{
		padding: 30px 40px 25px;
		min-height: 200px;
	}

	.content-lk__icon
	{
		height: 45px;
	}

	.content-lk__icon-width
	{
		width: 40px;
	}

	.content-lk__name
	{
		font-size: 24px;
	}


	.form__flex-three .form__line 
	{
		width: calc(100% / 1 - 15px);
		margin-left: 15px;
	}

	.content-lk .form .btn-dark
	{
		width: 100%;
	}

	.form__cancel
	{
		margin: 20px auto 0;
	}

	.content-lk__top-icon
	{
		height: 30px;
		margin-right: 10px;
	}


	.lk-bonus__items
	{
		margin-top: 20px;
	}

	.lk-bonus__info
	{
		margin-top: 25px;
		padding-bottom: 20px;
	}

	.lk-history
	{
		margin-top: 30px;
	}

	.lk-history__table
	{
		margin-top: 0;
	}


	.modal-size__table tr th
	{
		font-size: 10px;
	}

	.info-order-table__cod 
	{
		margin-right: 10px;
	}


	.content-lk__val-product
	{
		margin-left: 20px;
	}
	
	.history-order__link
	{
		font-size: 18px;
	}


	.catalog-filter
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.catalog-filter__item 
	{
		width: calc(100% / 1 - 15px);
		margin-top: 12px;
	}

	.catalog-filter__reset
	{
		margin-left: auto;
	}


	.modal
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	}
}